/*inicio de la pagina web*/
.micontenedor{
    width: 94%;
    margin: 0 auto;
}
.info{
    text-align: justify;
}

body::-webkit-scrollbar {
    display: none;
}
.modal-body::-webkit-scrollbar {
    display: none;
}
