* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

body {
  background: #F1F1F1;
  transition: 0.6s ease all;
}
body.dark {
  background: #111111;
}

strong {
  color: #111111;
  text-decoration: none;
  font-weight: 500;
}

h3 {
  color: #222222;
  font-weight: 500;
}

p {
  color: #222222;
  font-weight: 500;
}

a {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

li {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}
li button {
  text-decoration: none;
}

h1 {
  color: #222222;
  font-weight: 500;
}

h2 {
  color: #222222;
  font-weight: 500;
}

.offcanvas .offcanvas-end {
  color: #222222;
  font-weight: 500;
}

h5 {
  color: #222222;
  font-weight: 500;
}

button {
  color: #222222;
  text-decoration: none;
  font-weight: 500;
}

.micontainer {
  width: 94%;
  font-family: "Signika Negative", sans-serif;
  margin: 0 auto;
}

body.dark div {
  color: #FEFEFE;
}
body.dark div h1 {
  color: #FEFEFE;
}
body.dark div a {
  color: #FEFEFE;
}
body.dark div h3 {
  color: #FEFEFE;
}
body.dark div p {
  color: #FEFEFE;
}
body.dark div button {
  color: #FEFEFE;
}

body.dark .navbar-toggler span {
  color: #FEFEFE;
}

body.dark .offcanvas {
  background: #222222;
  box-shadow: #FEFEFE;
}
body.dark .offcanvas a {
  color: #FEFEFE;
  text-decoration: none;
}
body.dark .offcanvas a:hover {
  color: #111111;
}
body.dark .offcanvas h5 {
  color: #FEFEFE;
}
body.dark .offcanvas button {
  color: #FEFEFE;
}

body.dark .offcanvas-body li a {
  color: #FEFEFE;
}
body.dark .offcanvas-body li a:hover {
  color: #111111;
}

body.dark .inicio {
  box-shadow: #FEFEFE;
}
body.dark .inicio a {
  color: #FEFEFE;
}
body.dark .inicio a:hover {
  color: #111111;
}
body.dark .inicio h2 {
  color: #FEFEFE;
}
body.dark .inicio .redsocial {
  color: #FEFEFE;
}
body.dark .inicio .contenedor-banner {
  background-color: #e74545;
}

.navbar {
  background: rgba(241, 241, 241, 0.2862745098);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.6s ease all;
  box-shadow: 10px 10px 20px rgba(170, 170, 170, 0.16);
}
body.dark .navbar {
  background: #222222;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
body.dark .navbar strong {
  color: #FEFEFE;
}
body.dark .navbar a {
  color: #FEFEFE;
  text-decoration: none;
}
body.dark .navbar a:hover {
  color: #111111;
}
body.dark .navbar div {
  color: #FEFEFE;
}
body.dark .navbar div h5 {
  color: #FEFEFE;
}
body.dark .navbar div button {
  color: #FEFEFE;
}

.darkmode {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.darkmode::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: rgba(236, 232, 232, 0.4784313725);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: 0.6s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.darkmode.active {
  background: orange;
  color: #000;
}
.darkmode.active::after {
  right: 0;
  left: unset;
}
.darkmode span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/*seccion css*/
.inicio {
  background-size: cover;
  height: 85vh;
  color: #FEFEFE;
  display: flex;
  align-items: center;
}

.inicio .contenedor-banner {
  background-color: #254BE6;
  padding: 20px;
  max-width: 350px;
  text-align: center;
  margin: auto;
  border-radius: 40px;
}

.inicio .contenedor-banner img {
  margin-top: 40px;
  border: 2px solid #111111;
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.inicio .contenedor-banner h1 {
  margin-top: 42px;
  font-size: 40px;
}

.inicio .contenedor-banner h2 {
  margin-top: 20px;
  font-size: 28px;
  font-weight: normal;
}

.inicio .contenedor-banner .redsocial a {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 12px 10px;
  font-size: 20px;
  transition: 0.3s;
}

.inicio .contenedor-banner .redsocial a:hover {
  background-color: #e74545;
}

/*para lo que es responsivo*/
.navbar-toggler {
  display: none;
}

@media screen and (max-width: 800px) {
  .navbar-toggler {
    display: inline-block;
  }
  .nave1 {
    display: none;
  }
}
/*fin*//*# sourceMappingURL=darkmode.css.map */