$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #C8C8C8;
$grisClaroHover: #ACABAB;
$azul: #3E60E9;
$azulHover: #254BE6;
$rojo: #e74545;
$sombraDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    display: none;
}
.modal-body::-webkit-scrollbar {
    display: none;
}

body{
    background: #F1F1F1;
    transition: .6s ease all;
    &.dark{
        //aqui cabiamos el color
        background: $negro;
    }
}

strong{
    color: $negro;
    text-decoration: none;
    font-weight: 500;
}

h3{
    color: $grisOscuro;
    font-weight: 500;
}

p{
    color: $grisOscuro;
    font-weight: 500;
}

a{
    color: $grisOscuro;
    text-decoration: none;
    font-weight: 500;
}

li{
    color: $grisOscuro;
    text-decoration: none;
    font-weight: 500;
    button{
        text-decoration: none;
    }
}

h1{
    color: $grisOscuro;
    font-weight: 500;
}

h2{
    color: $grisOscuro;
    font-weight: 500;
}

.offcanvas .offcanvas-end{
    color: $grisOscuro;
    font-weight: 500;
}
h5{
    color: $grisOscuro;
    font-weight: 500;
}

button{
    color: $grisOscuro;
    text-decoration: none;
    font-weight: 500;
}

.img2{
    display: none;
}

.inicio{
    .contenedor-banner{
        .contenedor-img{
            .img2{
                display: none;
            }
        }
    }
}

.micontainer{
    width: 94%;
    font-family: 'Signika Negative', sans-serif;
    margin: 0 auto;
}

//nav para modo negro
div {
    body.dark & {
        color: $blanco;
        h1 {
            color: $blanco;
        }
        a {
            color: $blanco;
        }
        h3{
            color: $blanco;
        }
        p{
            color: $blanco;
        }
        button{
            color: $blanco;
        }
    }
}
.navbar-toggler{
    body.dark &{
        span{
            color: $blanco;
        }
    }
}
.offcanvas{
    body.dark & {
        background: $grisOscuro;
        box-shadow: $blanco;
        //quiero que los enlaces tengan otro color (cuando esta en modo negro)
        a {
            color: $blanco;
            text-decoration: none;
            //que estos enlaces cuando tengan un hover cambien de color a blanco (x ejemplo)
            &:hover {
                color: $negro;
            }
        }
        h5{
            color: $blanco;
        }
        button{
            color: $blanco;
        }
    }
}

.offcanvas-body{
    body.dark & {
        li{
            a {
                color: $blanco;
                //que estos enlaces cuando tengan un hover cambien de color a blanco (x ejemplo)
                &:hover {
                    color: $negro;
                }
            }
        }
    }
}

.inicio{
    body.dark & {
        box-shadow: $blanco;
        a {
            color: $blanco;
            //que estos enlaces cuando tengan un hover cambien de color a blanco (x ejemplo)
            &:hover {
                color: $negro;
            }
        }

        h2{
            color: $blanco;
        }

        .redsocial{
            color: $blanco;
        }

        .contenedor-banner{
            background-color: $rojo;
        }

        .redsocial a:hover{
            background-color: $azul; //color q sale al pasar el cursor
        }

        .img1{
            display: none;
        }

        .contenedor-banner{
            .contenedor-img{
                .img2{
                    
                    display: inline-block;
                }
            }
        }

    }
}

//nav
.navbar {
    background: #f1f1f149;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    transition: .6s ease all;
    box-shadow: $sombraDark;
    body.dark & {
        background: $grisOscuro;
        box-shadow: $sombraLight;
        strong {
            color: $blanco;
        }
        //quiero que los enlaces tengan otro color (cuando esta en modo negro)
        a {
            color: $blanco;
            text-decoration: none;
            //que estos enlaces cuando tengan un hover cambien de color a blanco (x ejemplo)
            &:hover {
                color: $negro;
            }
        }

        div{
            color: $blanco;
            h5{
                color: $blanco;
            }
            button{
                color: $blanco;
            }
        }
        .img1{
            display: none;
        }
        .img2{
            display: inline-flex;
        }
    }
}
//fin nav

// modo oscuro
.darkmode {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        background: #ece8e87a;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .6s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.active {
        background: orange;
        color: #000;
        &::after {
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
}
//fin modo oscuro


/*seccion css*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(../img/avatar/myAvatar2.png);
    background-size: contain;
    height: 95vh; //altura del card
    color: $blanco;
    display: flex;
    align-items: center;
}

.inicio .contenedor-banner{
    background-color: $azulHover;
    padding: 20px;
    max-width: 350px;
    text-align: center;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenedor-banner img{
    margin-top: 40px;
    border: 2px solid $negro; //borde de img
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}


.inicio .contenedor-banner h1{
    margin-top: 20px;
    font-size: 40px;
}
.inicio .contenedor-banner h2{
    margin-top: 20px;
    font-size: 28px;
    font-weight: normal;
}

.inicio .contenedor-banner .redsocial a{
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 12px 10px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenedor-banner .redsocial a:hover{
    background-color: $rojo; //color q sale al pasar el cursor
}
/*para lo que es responsivo*/
.navbar-toggler{
    display: none;
}

@media screen and (max-width:800px){
    .navbar-toggler{
        display: inline-block;
    }
    .nave1{
        display: none;
    }
    .inicio{
        background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(../img/avatar/myAvatar.png);
    }
}
/*fin*/